@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: radial-gradient(circle at center, #0f172a 0%, #020617 100%);
}

a {
  transition: all 0.3s ease;
}

a:hover {
  text-shadow: 0 0 10px rgba(34, 211, 238, 0.8);
}
